version: '3.8'

services:
  api:
    build: .
    ports:
      - "5000:5000"
    environment:
      - ConnectionStrings__Default=server=localhost;user=root;password=root;database=smartfix
    depends_on:
      - db

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: SmartFixDb
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
